.container{
    width: 100%;
    text-align: center;
    animation-name: fade;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-duration: 0.6s;


    span:hover{
        color: rgb(120,120,120)
    }
}

.buttonleft{
    position: absolute;
    left: 0;
    top: 33.3%;
    margin-left: 2%;
    transform:scale(2.5);
    color:white;
    transition: all 0.4s ease-in-out;
}

.buttonright{
    position: absolute;
    right: 0;
    top: 33.3%;
    margin-right: 2%;
    margin-left: 2%;
    transform:scale(2.5);
    color:white;
    transition: all 0.4s ease-in-out;
}


@keyframes fade{
    from {opacity: 0;}
    top {opacity: 1;}
}