@import '../../components/theme/theme.scss';

.btn{
    width: auto;
    height: 35px;
    padding: $padding;
    margin: $margin;
    background-color: $theme-color;
    font-size: $font-size-s;
    outline:none;
    border:none;
    border-radius: 4px;
    color:$font-color-light;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: $theme-color-light;
}